body {
	background: black url("black-bg.jpg") fixed;
	color: white;
	font-family: arial;
}

p {
	font-size: 10;
}
h1 {
	font-family: 'orbitron', sans-serif;
	font-weight:bold;
	text-align: center;
	font-size: 32;
}

h3 {
	font-style: bold;
	text-align: center;
}
div {
	text-align: center;
}

a {
	text-decoration: none;
}
a:hover {
	color: silver;
}
ul {
	list-style: none;
}
.container {
	width: 900px;
	padding: 25px;
	display: flex;
	flex-direction: column;
}
.pagesList {
	display: flex;
	justify-content: space-around;
}
.pagesList__pagesItem {
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
}
.pagesItem--currentPage {
	font-weight: bold;
	color: Grey;
}