.folder{
	display: flex;
	background-color: #dddddd;
	padding-top:;
	padding-right:;
	padding-bottom:;
	padding-left:;
}
.folder.folder--selected{
	background-color: #cccccc;
}

.folder__icon{
	margin-right:;
}

.folder__label{
	color: #666666;
}

.sidebar{
	width:;
}
