h3 {
	text-align: center;
	font-size: 1.667em;
}
class="header" {
		text-align: right;
}
.container{
	display: flex;
	background-color: #dddddd;
	padding:25px;
}
.folder.folder--selected{
	background-color: #cccccc;
}

.folder__icon{
	margin-right:;
}

.folder__label{
	color: #666666;
}

.sidebar{
	width:;
}
